:root {
    font-size: 18px;
    --gray1: #fff9f0; 
    --gray10: #ffe3b8;
    --gray20: #eed4acfc;
    --gray30: #494949;
    --gray40: #181a1b;
    --orange30: #FF9900; 
    --orange40: #d6860ea7;
}

body {
    color: var(--gray1);
    background-color: var(--gray40);
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--gray);
}

header {
    font-size: 14px;
    color: var(--gray);
}

header a {
    color: var(--gray30);
    text-decoration: none;
}

header a:hover {
    color: var(--gray10);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
}

h1 ~ p {
    margin-bottom: 64px;
}

hr {
    display: block;
    margin: 64px 0;
}



h2 {
    font-size: 2em;
    margin: 40px 0;
    margin-top: 80px;
}

h3 {
    font-size: 1.5em;
    color: var(--orange30);
    margin-top: 38px;
    margin-bottom: 12px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    
 }

 blockquote span {
    color: var(--gray10);
 }

 blockquote span::before {
    content: '-';
 }

footer {
    font-size: 14px;
    color: var(--gray);
}

footer a {
    color: var(--gray30);
    text-decoration: none;
}

footer a:hover {
    color: var(--gray10);
}

summary {
    color: var(--orange30)
}


.hero {
    height: 350px;
    background-image: linear-gradient(to top,rgb(0, 0, 0), transparent), url('../images/steven-spielberg-wallpaper.jpg');
    background-size: 6.6%;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
}

::selection {
    background: var(--orange40);
}



/* .section_content + hr {
    display: none;
} */

hr {
  margin: 12px 0;
  margin-top: 80px;
  border: 0;
  text-align: center;
}
hr:before {
  content: "•••";
  font-size: 50px;
  color: var(--orange30);
}


.selection_content ul li {
    margin-bottom: 16px;
}

.section_content h3 {
    counter-increment: titlelist;
    padding-bottom: 4px;
}

.section_content h3::before {
    content: counter(titlelist, decimal) '. ' ; 
}

.section_content img {
    margin-bottom: 20px;
}

.soundtrack_parasite {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_parasite iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper0 {
    width: 50%;
}

.soundtrack_torino {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_torino iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper1 {
    width: 50%;
}

.soundtrack_chihiro {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_chihiro iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper2 {
    width: 50%;
}

.soundtrack_flew {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_flew iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper3 {
    width: 50%;
}

.soundtrack_retablo {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_retablo iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper4 {
    width: 50%;
}

