:root {
    font-size: 18px;
    --gray1: #fff9f0; 
    --gray10: #ffe3b8;
    --gray20: #eed4acfc;
    --gray30: #494949;
    --gray40: #181a1b;
    --orange30: #FF9900; 
    --orange40: #d6860ea7;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray1);
    background-color: var(--gray40);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-inline: 100px;
}

a {
    color: var(--gray);
}

header {
    font-size: 14px;
    inline-size: 255px;
    color: var(--gray);
    position: absolute;
    /* border: 1px solid red; */
    margin-block-start: 64px;
    left: -270px;
    z-index: -1;
}

header a {
    color: var(--gray30);
    text-decoration: none;
}

header a:hover {
    color: var(--gray10);
}

header li {
    margin-bottom: 16px;
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}

h1 {
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    text-align: center;
    /* font-weight: normal; */
}

h1 ~ p {
    margin-bottom: 64px;
}

hr {
    display: block;
    margin: 64px 0;
}



h2 {
    font-size: 2em;
    margin: 40px 0;
    margin-top: 80px;
}

h3 {
    font-size: 1.5em;
    color: var(--orange30);
    margin-top: 38px;
    margin-bottom: 12px;
    position: relative;
}

blockquote {
    font-size: 24px;
    margin-block-start: 80px;
    margin-block-end: 63px;
    border-radius: 8px;
    /* border: 10px solid var(--orange30) */
    /* line-height: 24px;
    border-left: 4px solid var(--orange30); */
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;    
 }

 blockquote p {
    font-style:oblique;
 }

 blockquote span {
    color: var(--gray10);
 }

 blockquote span::before {
    content: '-';
 }

 /* .main {
    border: 1px solid red;     
    position: relative;
 } */


 .header {
    position: sticky;
    top: 0;
 }

 .header_content {
    position: relative;
    /* border: 1px solid red; */
 }

 .wrapper {
    max-inline-size: 902px;
    margin: auto;
    /* border: 1px solid green;     */
 }

 .main_content {
    padding-inline: 16px;
    /* background: red; */
    /* border: 10px solid black; */
 }

 .footer {
     display: flex;
     flex-flow: row wrap; 
     padding: 30px 30px 20px 30px; 
     background-color: black;
     border-radius: 8px;
     overflow: hidden;     
     /* filter: drop-shadow(0 0 5px rgb(138, 83, 0)); */
     /* margin-inline: 100px; */
     /* border: 1px solid red;*/
 }


 .wrapper-footer {
    margin-inline: 902px;
    margin: auto;
    /* border: 1px solid red; */
 }

 .footer-content {
    padding: 20px;
    /* border: 1px solid red; */
 }

footer {
    font-size: 14px;
    color: var(--gray);
    /* border: 1px solid red; */
}

footer a {
    color: var(--gray30);
    text-decoration: none;
}

footer a:hover {
    color: var(--gray10);
    /* border: 1px solid red; */
}

summary {
    color: var(--orange30);
    /* border: 1px solid red; */
}


.hero {
    height: 350px;
    background-image: linear-gradient(to top,rgb(0, 0, 0), transparent), url('../images/the_truman_show.jpg');
    background-size: 6.6%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

::selection {
    background: var(--orange40);
}



/* .section_content + hr {
    display: none;
} */

hr {
  margin: 12px 0;
  margin-top: 80px;
  border: 0;
  text-align: center;
}
hr:before {
  content: "•••";
  font-size: 50px;
  color: var(--orange30);
}

.section_content {
    counter-reset: titleList;
    padding: 4px;
    /* border: 1px solid red; */
}

.section_content ul li {
    margin-bottom: 16px;
}

.section_content h3 {
    counter-increment: titlelist;
    padding-bottom: 8px;
    /* border: 1px solid white; */
}

.section_content h3::before {
    content: counter(titlelist, decimal) '. '; 
}

.section_content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--orange40);
    display: inLine-block;
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    bottom: 0;
    /* border: 1px solid brown; */
}

.section_content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;  
}

.section_content_1 img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section_content_2 img {
    margin-block-start: 10px;
    margin-block-end: 30px;
    display: block;
    max-inline-size: 100%;
    /* border: 1px solid red; */
    /* inline-size: 524px;
    block-size: 280px; */
    /* width="524" height="280" */
}

.soundtrack_parasite {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_parasite iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper0 {
    width: 50%;
}

.soundtrack_torino {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_torino iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper1 {
    width: 50%;
}

.soundtrack_chihiro {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_chihiro iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper2 {
    width: 50%;
}

.soundtrack_flew {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_flew iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper3 {
    width: 50%;
}

.soundtrack_retablo {
    border: 3px;
    height: 0px;
    padding-bottom: 56.25% ;
    position: relative;
}

.soundtrack_retablo iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.soundtrack_wrapper4 {
    width: 50%;
}

